<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- SYSTEM.WEBSERVER
        This section is a ASP.NET configuration section when running in Integrated Mode on IIS7.
    -->
    <system.webServer>
        <!--
            Definition for the handler with the associated class to be invoked.
        -->
        <handlers>
            <add verb="*" path="lotus_assets.ashx" type="Lotus.Foundation.Assets.Handlers.AssetsRequestHandler, Lotus.Foundation.Assets" name="Lotus.Foundation.AssetsRequestHandler" />
        </handlers>
    </system.webServer>
    
    <!-- SYSTEM.WEB
        This section is a ASP.NET configuration section.
    -->
    <system.web>
        <httpHandlers>
            <add verb="*" path="lotus_assets.ashx" type="Lotus.Foundation.Assets.Handlers.AssetsRequestHandler, Lotus.Foundation.Assets" name="Lotus.Foundation.AssetsRequestHandler" />
        </httpHandlers>
    </system.web>
</<configuration>
