<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net45" />
  <package id="Sitecore.ContentSearch.Linq.NoReferences" version="7.2.160123" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.NoReferences" version="7.2.160123" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="7.2.160123" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Logging.NoReferences" version="7.2.160123" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="7.2.160123" targetFramework="net45" developmentDependency="true" />
</packages>