<?xml version="1.0" encoding="utf-8" ?>
<!--
	LOTUS FOUNDATION ASSETS
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <initialize>
                <!-- Hook into Sitecore for initialization -->
                <processor type="Lotus.Foundation.Assets.Pipelines.Initialize.Initialize, Lotus.Foundation.Assets" />
            </initialize>
        </pipelines>

        <settings>
            <setting name="Lotus.Foundation.Assets.Enabled" value="true" />
            <setting name="Lotus.Foundation.Assets.IgnoreType" value="querystring" />
            <!-- <setting name="Lotus.Foundation.Assets.IgnoreType" value="timestamp" />-->
            <!--
                if the asset cannot be resolved, a default fallback
                
                default: "" = set the path to ignored and let IIS fallback handle
             -->
            <setting name="Lotus.Foundation.Assets.NotFoundUrl" value="" />
            <!--
                REGULAR EXPRESSIONS SETTINGS
                    Used for data extraction within default resolver.
            -->
            <setting name="Lotus.Foundation.Assets.Regex.Extension" value="^.*?[\w._-]+(\..+)$" />
            <setting name="Lotus.Foundation.Assets.Regex.FileName" value="^.*?([\w._-]+\..+)$" />
            <setting name="Lotus.Foundation.Assets.Regex.RelativePath" value="^/-/assets/(.+(?:$(extension))?)$" />
            <setting name="Lotus.Foundation.Assets.Regex.Timestamp" value="^.+-(\d{10})?(?:$(extension))?$" />
            <setting name="Lotus.Foundation.Assets.Regex.IgnoreQuery" value="([?&amp;]?ignore=true)" />
            <!--
                CDN SETTINGS
                    Used to redirect a processed asset back to the CDN for caching/delivery.
                
                    REDIRECT TOKENS:
                    $scheme     'http' or 'https'
                    $domain     Current domain context without any supplied sub-domains (eg mysite.com)
            -->
            <setting name="Lotus.Foundation.Assets.CDN.Redirect" value="" />
            <!-- <setting name="Lotus.Foundation.Assets.CDN.Redirect" value="$scheme://cdn.$domain" /> -->
            <!-- <setting name="Lotus.Foundation.Assets.CDN.Redirect" value="$scheme://cdn.mysite.com" /> -->
            <!-- <setting name="Lotus.Foundation.Assets.CDN.Redirect" value="//cdn.mysite.com" /> -->
            <!--
                COMPRESSION SETTINGS
                    Used to compress responses.
            -->
            <setting name="Lotus.Foundation.Assets.Compression.AcceptEncoding" value="gzip|deflate" />
            <setting name="Lotus.Foundation.Assets.Compression.MimeTypes" value="text/plain|text/css|application/json|application/javascript|application/x-javascript|text/xml|application/xml|application/xml+rss|text/javascript" />
        </settings>

        <!--
            Definition of the trigger to invoke the handler.
        -->
        <customHandlers>
            <handler trigger="-/assets/" handler="lotus_assets.ashx" />
            <handler trigger="~/assets/" handler="lotus_assets.ashx" />
        </customHandlers>
        
        <lotus.assets>
            <!--
                LOTUS LOGGING
                    Used to define different loggers that can be attached to static classes
            -->
            <logging>
                <loggers>
                    <logger id="Lotus.Foundation.Assets.Logger" type="Lotus.Foundation.Assets.Configuration.AssetsLogger, Lotus.Foundation.Assets">
                        <param desc="id">$(id)</param>
                        <param desc="includeStacktrace">true</param>
                    </logger>
                </loggers>

                <log4net>
                    <appender name="Lotus.Foundation.Assets.Appender" type="Lotus.Foundation.Logging.Appenders.LotusLogFileAppender, Lotus.Foundation.Logging">
                        <file value="$(dataFolder)/logs/Lotus.Foundation.Assets.{date}.txt" />
                        <appendToFile value="true" />
                        <layout type="log4net.Layout.PatternLayout">
                            <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
                        </layout>
                        <encoding value="utf-8" />
                    </appender>
                    <logger name="Lotus.Foundation.Assets.Logger" additivity="false">
                        <level value="ALL"/>
                        <appender-ref ref="Lotus.Foundation.Assets.Appender"/>
                    </logger>
                </log4net>
            </logging>
            
            <!--
                ASSET RESOLVER
                    Specify the resolver used by the handler.
             -->
            <resolver type="Lotus.Foundation.Assets.Resolvers.DefaultResolver, Lotus.Foundation.Assets" />
            
            <!--
                ASSET PIPELINES
                    Specify pipelines to invoke upon successful targeting of asset.
            -->
            <pipelines>
                <request>
                    <pipeline key="Asset.Pipeline.Redirect" type="Lotus.Foundation.Assets.Pipelines.Request.RedirectPipeline, Lotus.Foundation.Assets" />
                    <pipeline key="Asset.Pipeline.Compress" type="Lotus.Foundation.Assets.Pipelines.Request.CompressPipeline, Lotus.Foundation.Assets" />
                    <pipeline key="Asset.Pipeline.Cache" type="Lotus.Foundation.Assets.Pipelines.Request.CachePipeline, Lotus.Foundation.Assets" />
                    <pipeline key="Asset.Pipeline.Headers" type="Lotus.Foundation.Assets.Pipelines.Request.HeadersPipeline, Lotus.Foundation.Assets" />
                </request>
            </pipelines>
            
            <!--
                ASSET REPOSITORY
                    Specify which paths should be redirected and controlled to the handler.
             -->
            <repository type="Lotus.Foundation.Assets.Repository.Repository, Lotus.Foundation.Assets">
                <!--
                    ASSET HOSTS
                        Specify which hosts should utilize the asset handler.
                -->
                <hosts hint="raw:MapHost">
                    <host>.*</host>
                </hosts>

                <!--
                    ASSET HEADERS
                        Specify custom headers for responses.
                -->
                <headers hint="raw:MapHeader">
                    <header name="Lotus-Timestamp" value="$timestamp" />
                </headers>
                
                <!--
                    ASSET MIMETYPES
                        Specify custom mimetypes
                -->
                <mimeTypes hint="raw:MapMime">
                    <mime extension=".woff" type="font/woff" />
                    <mime extension=".woff2" type="font/woff2" />
                </mimeTypes>
                
                <!--
                    ASSET PATHS
                        Specify paths to pass to the resolver.
                -->
                <paths hint="raw:MapPath">
                    <!-- Extension based paths -->
                    <path type="Lotus.Foundation.Assets.Paths.Extension.ExtensionPath, Lotus.Foundation.Assets">
                        <key>extension.js</key>
                        <!-- separate with | -->
                        <targets>.js</targets>
                        <!-- supports full-path (c:/inetpub/site/js/whatever.js), relative (/js/whatever.js or ~/js/whatever.js), name (whatever.js) or any valid regex (.*) -->
                        <filenames>.*</filenames>
                        <!-- same as 'filenames' - separate with | -->
                        <ignore>|</ignore>
                        <!-- supports m (minute), h (hour) and d (day) -->
                        <expireCache>7d</expireCache>
                    </path>
                    <path type="Lotus.Foundation.Assets.Paths.Extension.ExtensionPath, Lotus.Foundation.Assets">
                        <key>extension.css</key>
                        <!-- separate with | -->
                        <targets>.css</targets>
                        <!-- supports full-path (c:/inetpub/site/css/whatever.css), relative (/css/whatever.css or ~/css/whatever.css), name (whatever.css) or any valid regex (.*) -->
                        <filenames>.*</filenames>
                        <!-- same as 'filenames' - separate with | -->
                        <ignore>|</ignore>
                        <!-- supports m (minute), h (hour) and d (day) -->
                        <expireCache>7d</expireCache>
                    </path>
                </paths>
            </repository>
        </lotus.assets>
    </sitecore>
</configuration>