<?xml version="1.0" encoding="utf-8" ?>
<!--
    LOTUS FEATURE ASSETS
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
<sitecore>
    <pipelines>
        <initialize>
            <!-- Hook into Sitecore to initialize the handler. -->
            <processor type="Lotus.Foundation.Assets.Pipelines.Initialize.Initialize, Lotus.Foundation.Assets" />
        </initialize>
    </pipelines>

    <settings>
        <setting name="Lotus.Foundation.Assets.Enabled" value="true" />
        <setting name="Lotus.Foundation.Assets.IgnoreType" value="querystring" />
        <!-- <setting name="Lotus.Foundation.Assets.IgnoreType" value="timestamp" />-->
        <!--
            REGULAR EXPRESSIONS SETTINGS
                Used for data extraction within default resolver.
        -->
        <setting name="Lotus.Foundation.Assets.Regex.Extension" value="^.*?[\w._-]+(\..+)$" />
        <setting name="Lotus.Foundation.Assets.Regex.FileName" value="^.*?([\w._-]+\..+)$" />
        <setting name="Lotus.Foundation.Assets.Regex.RelativePath" value="^/-/assets/(.+(?:$extension)?)$" />
        <setting name="Lotus.Foundation.Assets.Regex.Timestamp" value="^.+-(\d{10})?(?:$extension)?$" />
        <setting name="Lotus.Foundation.Assets.Regex.ParentPath" value="" />
        <!--
            CDN SETTINGS
                Used to redirect a processed asset back to the CDN for caching/delivery.
            
                REDIRECT TOKENS:
                $scheme     'http' or 'https'
                $domain     Current domain context without any supplied sub-domains (eg mysite.com)
        -->
        <!-- <setting name="Lotus.Foundation.Assets.CDN.Redirect" value="" /> -->
        <setting name="Lotus.Foundation.Assets.CDN.Redirect" value="$scheme://cdn.$domain" />
        <!-- <setting name="Lotus.Foundation.Assets.CDN.Redirect" value="$scheme://cdn.mysite.com" /> -->
        <!-- <setting name="Lotus.Foundation.Assets.CDN.Redirect" value="//cdn.mysite.com" /> -->
        <!--
            COMPRESSION SETTINGS
                Used to compress responses.
        -->
        <setting name="Lotus.Foundation.Assets.Compression.Supported" value="gzip|deflate" />
    </settings>

    <!--
        Definition of the trigger to invoke the handler.
    -->
    <customHandlers>
        <handler trigger="-/assets/" handler="lotus_assets.ashx" />
    </customHandlers>

    <lotus.assets>
        <!-- 
            ASSET LOGGER
        -->
        <logger type="Lotus.Foundation.Assets.Configuration.AssetsLogger, Lotus.Foundation.Assets" />

        <!--
            ASSET RESOLVER
                Specify the resolver used by the handler.
         -->
        <resolver type="Lotus.Foundation.Assets.Resolvers.DefaultResolver, Lotus.Foundation.Assets" />

        <!--
            ASSET PIPELINES
                Specify pipelines to invoke upon successful targeting of asset.
        -->
        <pipelines>
            <request>
                <pipeline key="Asset.Pipeline.Redirect" type="Lotus.Foundation.Assets.Pipelines.Request.RedirectPipeline, Lotus.Foundation.Assets" />
                <pipeline key="Asset.Pipeline.Cache" type="Lotus.Foundation.Assets.Pipelines.Request.CachePipeline, Lotus.Foundation.Assets" />
                <pipeline key="Asset.Pipeline.Compress" type="Lotus.Foundation.Assets.Pipelines.Request.CompressPipeline, Lotus.Foundation.Assets" />
            </request>
        </pipelines>

        <!--
            ASSET REPOSITORY
                Specify which paths should be redirected and controlled to the handler.
         -->
        <repository type="Lotus.Foundation.Assets.Repository.Repository, Lotus.Foundation.Assets">
            <!--
                ASSET HOSTS
                    Specify which hosts should utilize the asset handler.
            -->
            <hosts hint="raw:MapHost">
                <host>
                    <value>.*</value>
                </host>
            </hosts>

            <!--
                ASSET HEADERS
                    Specify custom headers for responses.
            -->
            <headers hint="raw:MapHeader">
                <header>
                    <name>lotus_timestamp</name>
                    <value>$timestamp</value>
                </header>
            </headers>

            <!--
                ASSET PATHS
                    Specify paths to pass to the resolver.
            -->
            <paths hint="raw:MapPath">
                <!-- Extension based paths -->
                <path type="Lotus.Foundation.Assets.Paths.Extension.ExtensionPath, Lotus.Foundation.Assets">
                    <key>extension.js</key>
                    <!-- separate with | -->
                    <targets>.js</targets>
                    <!-- supports full-path (c:/inetpub/site/js/whatever.js), relative (/js/whatever.js or ~/js/whatever.js), name (whatever.js) or any valid regex (.*) -->
                    <filenames>.*</filenames>
                    <!-- same as 'filenames' - separate with | -->
                    <ignore>|</ignore>
                    <!-- supports m (minute), h (hour) and d (day) -->
                    <expireCache>4h</expireCache>
                </path>
                <path type="Lotus.Foundation.Assets.Paths.Extension.ExtensionPath, Lotus.Foundation.Assets">
                    <key>extension.css</key>
                    <!-- separate with | -->
                    <targets>.css</targets>
                    <!-- supports full-path (c:/inetpub/site/css/whatever.css), relative (/css/whatever.css or ~/css/whatever.css), name (whatever.css) or any valid regex (.*) -->
                    <filenames>.*</filenames>
                    <!-- same as 'filenames' - separate with | -->
                    <ignore>|</ignore>
                    <!-- supports m (minute), h (hour) and d (day) -->
                    <expireCache>6h</expireCache>
                </path>

                <!-- Folder based paths -->
                <path type="Lotus.Foundation.Assets.Paths.Folder.FolderPath, Lotus.Foundation.Assets">
                    <key>folder.js/wine/Oomph</key>
                    <!-- separate with | -->
                    <targets>js/wine/Oomph</targets>
                    <!-- supports full-path (c:/inetpub/site/css/whatever.css), relative (/css/whatever.css or ~/css/whatever.css), name (whatever.css) or any valid regex (.*) -->
                    <filenames>.*</filenames>
                    <ignore>|</ignore>
                    <!-- supports m (minute), h (hour) and d (day) -->
                    <expireCache>2h</expireCache>
                </path>

                <!-- File based paths -->
                <path type="Lotus.Foundation.Assets.Paths.File.FilePath, Lotus.Foundation.Assets">
                    <key>file.script-rogers.js</key>
                    <!-- any aliases of the file - separate with | -->
                    <targets>script-rogers.js</targets>
                    <!-- leading path to file -->
                    <parentPath>.*</parentPath>
                    <!-- supports m (minute), h (hour) and d (day) -->
                    <expireCache>3h</expireCache>
                </path>
            </paths>
        </repository>
    </lotus.assets>
</sitecore>
</configuration>