<?xml version="1.0" encoding="utf-8" ?>
<!--
	LOTUS FEATURE ASSETS
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <setting name="Lotus.Foundation.Assets.CDN.Redirect" value="" patch:i="*[@name='Lotus.Foundation.Assets.CDN.Redirect']" />
        </settings>
    </sitecore>
</configuration>