<?xml version="1.0" encoding="utf-8" ?>
<!--
	LOTUS FEATURE ASSETS
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <setting name="Lotus.Foundation.Assets.CDN.Redirect" value="" patch:i="*[@name='Lotus.Foundation.Assets.CDN.Redirect']" />
        </settings>

        <lotus.assets>
            <repository type="Lotus.Foundation.Assets.Repository.Repository, Lotus.Foundation.Assets">
                <hosts hint="raw:MapHost">
                    <host>beautifulaccommodation.com</host>
                    <host>winecompanion.com.au</host>
                    <host>cooked.com.au</host>
                </hosts>
                
                <headers hint="raw:MapHeader">
                    <header name="Access-Control-Allow-Methods" value="GET" />
                </headers>
                
                <paths hint="raw:MapPath">
                    <!-- Folder based paths -->
                    <path type="Lotus.Foundation.Assets.Paths.Folder.FolderPath, Lotus.Foundation.Assets">
                        <key>folder.ba_site</key>
                        <!-- separate with | -->
                        <targets>resources/ba/dist/js|resources/ba/dist/css|resources/ba/dist/images|resources/ba/dist/fonts</targets>
                        <!-- supports full-path (c:/inetpub/site/css/whatever.css), relative (/css/whatever.css or ~/css/whatever.css), name (whatever.css) or any valid regex (.*) -->
                        <filenames>.*</filenames>
                        <ignore>\.exe|\.dll</ignore>
                        <!-- supports m (minute), h (hour) and d (day) -->
                        <expireCache>7d</expireCache>
                    </path>

                    <!-- Folder based paths -->
                    <path type="Lotus.Foundation.Assets.Paths.Folder.FolderPath, Lotus.Foundation.Assets">
                        <key>folder.wine_site</key>
                        <!-- separate with | -->
                        <targets>resources/winecompanion/js|resources/winecompanion/css|resources/winecompanion/images|images/wine|images/winecompanion</targets>
                        <!-- supports full-path (c:/inetpub/site/css/whatever.css), relative (/css/whatever.css or ~/css/whatever.css), name (whatever.css) or any valid regex (.*) -->
                        <filenames>.*</filenames>
                        <ignore>\.exe|\.dll</ignore>
                        <!-- supports m (minute), h (hour) and d (day) -->
                        <expireCache>7d</expireCache>
                    </path>
                </paths>
            </repository>
        </lotus.assets>
    </sitecore>
</configuration>