<?xml version="1.0" encoding="utf-8"?>
<!--
    Definition of the redirections to force utilization of the handler.    
-->
<rules>
	<rule name="Rewrite Assets To Handler - Resources Folder" stopProcessing="true">
        <match url="^(resources/[\w/\._\-]+\.\w+)$" />
		<conditions>
		    <add input="{HTTP_HOST}" pattern=".*" />
            <add input="{QUERY_STRING}" pattern="([?&amp;]?ignore=true)" negate="true" />
		</conditions>
        <action type="Rewrite" url="-/assets/{R:1}" appendQueryString="true" />
    </rule>
	<rule name="Rewrite Assets To Handler - Images Folder" stopProcessing="true">
        <match url="^(images/[\w/\._\-]+\.\w+)$" />
		<conditions>
		    <add input="{HTTP_HOST}" pattern=".*" />
            <add input="{QUERY_STRING}" pattern="([?&amp;]?ignore=true)" negate="true" />
		</conditions>
        <action type="Rewrite" url="-/assets/{R:1}" appendQueryString="true" />
    </rule>
</rules>