<?xml version="1.0" encoding="utf-8"?>
<!--
    Definition of the redirections to force utilization of the handler.    
-->
<rules>
  	<rule name="Redirect Assets Ignored" stopProcessing="true">
        <match url="^-/assets/(.+?)-0000000000.(\w+)$" />
		<conditions>
            <add input="{QUERY_STRING}" pattern="([?&amp;]?ignore=true)" negate="true" />
		</conditions>
        <action type="Rewrite" url="{R:1}.{R:2}?ignore=true" appendQueryString="true" />
    </rule>
	<rule name="Rewrite Assets To Handler - Folder" stopProcessing="true">
        <match url="^(resources/[\w/\._\-]+.\w+)$" />
		<conditions>
            <add input="{QUERY_STRING}" pattern="([?&amp;]?ignore=true)" negate="true" />
		</conditions>
        <action type="Rewrite" url="-/assets/{R:1}" appendQueryString="true" />
    </rule>
</rules>