<?xml version="1.0" encoding="utf-8" ?>
<!--
	LOTUS FEATURE MAILCHIMP
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <initialize>
                <!-- Hook into Sitecore for initialization -->
                <processor type="Lotus.Feature.MailChimp.Pipelines.Initialize.Initialize, Lotus.Feature.MailChimp" />
            </initialize>
        </pipelines>

        <lotus.mailchimp>
            <logger type="Lotus.Feature.MailChimp.Configuration.MailChimpLogger, Lotus.Feature.MailChimp" />
            
            <!--
                VALIDATORS
                    Used to assist in checking data to be sent    
            -->
            <validators>
                <validator key="*" type="Lotus.Feature.MailChimp.Validators.Regex, Lotus.Feature.MailChimp">
                    <param>.*</param>
                </validator>
                <validator key="required" type="Lotus.Feature.MailChimp.Validators.Required, Lotus.Feature.MailChimp" />
                <validator key="email" type="Lotus.Feature.MailChimp.Validators.Regex, Lotus.Feature.MailChimp">
                    <param>^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$</param>
                </validator>
                <validator key="date" type="Lotus.Feature.MailChimp.Validators.Regex, Lotus.Feature.MailChimp">
                    <param>^\d{1,2}[\/- ]\d{1,2}[\/- ]\d{4}$</param>
                </validator>
                <validator key="word" type="Lotus.Feature.MailChimp.Validators.Regex, Lotus.Feature.MailChimp">
                    <param>^\w$</param>
                </validator>
                <validator key="words" type="Lotus.Feature.MailChimp.Validators.Regex, Lotus.Feature.MailChimp">
                    <param>^[\w ]+$</param>
                </validator>
                <validator key="number|integer" type="Lotus.Feature.MailChimp.Validators.Regex, Lotus.Feature.MailChimp">
                    <param>^[\d\.]+?$</param>
                </validator>
                <validator key="bool|boolean" type="Lotus.Feature.MailChimp.Validators.Regex, Lotus.Feature.MailChimp">
                    <param>^(true|false)?[01]?$</param>
                </validator>
            </validators>
            
            <!--
                LISTS
                    Lists to be used for submission of data
            -->
            <lists apiKey="0dc3f4e2401ef7221f6ee1ca3d732f2c-us15">
                <list type="Lotus.Feature.MailChimp.Lists.GenericList, Lotus.Feature.MailChimp">
                    <listId>30d16c4707</listId>
                    <mergeVar type="Lotus.Feature.MailChimp.Lists.GenericMergeVar, Lotus.Feature.MailChimp">
                        <fields hint="raw:MapField">
                            <email validation="required|email">EMAIL</email>
                            <firstname validation="required|name=^[\w ]+$">FNAME</firstname>
                            <lastname validation="required|name=^[\w ]+$">LNAME</lastname>
                            <dateofbirth validation="required|date">DOB</dateofbirth>
                            <state validation="required|state=^[\w ]+$">STATE</state>
                            <entry validation="required|*">ENTRY</entry>
                        </fields>
                    </mergeVar>
                </list>
            </lists>
        </lotus.mailchimp>
    </sitecore>
</configuration>