<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MailChimp.NET" version="1.1.84.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net45" />
  <package id="Sitecore.Kernel.NoReferences" version="7.2.160123" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Logging.NoReferences" version="7.2.160123" targetFramework="net45" developmentDependency="true" />
</packages>