<!--
	Assets Handler for greater control of resources.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <!-- Hook into Sitecore to initialize the asset handler. -->
        <processor type="Lotus.Foundation.Assets.Pipelines.Initialize.AssetHandler, Lotus.Foundation.Assets" />
      </initialize>
    </pipelines>
      
    <settings>
      <!-- 
				Whether to take control of assets from IIS/Sitecore.
			-->
      <setting name="Lotus.Foundation.Assets.Enabled">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>

    <!--
      Definition for the handler with the associated class to be invoked.
    -->
    <handlers>
      <add verb="*" path="lotus_asset.ashx" type="Lotus.Foundation.Assets.Handlers.AssetRequestHandler, Lotus.Foundation.Assets" name="Lotus.Foundation.AssetRequestHandler" />
    </handlers>

    <!--
      Definition of the trigger to invoke the handler.
    -->
    <customHandlers>
      <handler trigger="-/asset/" handler="lotus_asset.ashx" />
    </customHandlers>
      
    <!--
      Definition of the redirections to force utilization of the handler.
    -->
    <rules>
      <rule name="Redirect JS" stopProcessing="true">
        <match url="^(js/.*\.js)" />
        <action type="Redirect" url="-/asset/{R:1}" appendQueryString="true" />
      </rule>
      <rule name="Redirect CSS" stopProcessing="true">
        <match url="^(css/.*\.css)" />
        <action type="Redirect" url="-/asset/{R:1}" appendQueryString="true" />
      </rule>
    </rules>
      
    <lotus.assets>
      <!--
        ASSET SITES
        Specify which sites should utilize the asset handler.
      -->
      <sites>
        <!-- <add name="sitecore" /> -->
      </sites>
      
      <!--
				ASSET PATHS
				Specify which paths should be redirected and controlled to the handler.
			-->
      <paths>
        <path key="extension.js" type="Lotus.Foundation.Assets.Paths.Extension.JS, Lotus.Foundation.Assets">
          <!-- separate with | -->
          <extensions>.js</extensions>
          <!-- supports full-path (c:/inetpub/site/js/whatever.js), relative (/js/whatever.js or ~/js/whatever.js), name (whatever.js) or any valid regex (.*) -->
          <filenames>.*</filenames>
          <!-- same as 'filenames' - separate with | -->
          <ignore></ignore>
        </path>
        <path key="extension.css" type="Lotus.Foundation.Assets.Paths.Extension.CSS, Lotus.Foundation.Assets">
          <!-- separate with | -->
          <extensions>.css</extensions>
          <!-- supports full-path (c:/inetpub/site/css/whatever.css), relative (/css/whatever.css or ~/css/whatever.css), name (whatever.css) or any valid regex (.*) -->
          <filenames>.*</filenames>
          <!-- same as 'filenames' - separate with | -->
          <ignore></ignore>
        </path>
      </paths>
    </lotus.assets>
  </sitecore>
</configuration>