<?xml version="1.0" encoding="utf-8" ?>
<!--
	Assets Handler for greater control of resources.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <initialize>
                <!-- Hook into Sitecore to initialize the handler. -->
                <processor type="Lotus.Foundation.Assets.Pipelines.Initialize.AssetHandler, Lotus.Foundation.Assets" />
            </initialize>
        </pipelines>

        <settings>
            <setting name="Lotus.Foundation.Assets.Enabled" value="true" />
            <setting name="Lotus.Foundation.Assets.IgnoreType" value="querystring" />
            <!-- <setting name="Lotus.Foundation.Assets.IgnoreType" value="timestamp" />-->
            <!--
                REGULAR EXPRESSIONS SETTINGS
                    Used for data extraction within default resolver.
            -->
            <setting name="Lotus.Foundation.Assets.Regex.Extension" value="^.*?[\w._-]+(\..+)$" />
            <setting name="Lotus.Foundation.Assets.Regex.FileName" value="^.*?([\w._-]+\..+)$" />
            <setting name="Lotus.Foundation.Assets.Regex.RelativePath" value="^/-/assets/(.+(?:$extension)?)$" />
            <setting name="Lotus.Foundation.Assets.Regex.Timestamp" value="^.+-(\d{10})?(?:$extension)?$" />
            <!--
                CDN SETTINGS
                    Used to redirect a processed asset back to the CDN for caching/delivery.
                
                    PREFIX TOKENS:
                    $scheme     'http' or 'https'
                    $domain     Current domain context without sub-domain (eg mysite.com)
                    $subdomain  Current domain context including sub-domain (eg www.mysite.com)
            -->
            <setting name="Lotus.Foundation.Assets.CDN.Prefix" value="" />
            <!-- <setting name="Lotus.Foundation.Assets.CDN.Prefix" value="$scheme://cdn.$domain" /> -->
            <!-- <setting name="Lotus.Foundation.Assets.CDN.Prefix" value="$scheme://cdn.mysite.com" /> -->
            <!-- <setting name="Lotus.Foundation.Assets.CDN.Prefix" value="//cdn.mysite.com" /> -->
            <!--
                CACHE SETTINGS 
                    Used for default caching in response headers.
            -->
            <setting name="Lotus.Foundation.Assets.Caching.DefaultExpireHours" value="0" />
        </settings>

        <!--
            Definition of the trigger to invoke the handler.
        -->
        <customHandlers>
            <handler trigger="-/assets/" handler="lotus_assets.ashx" />
        </customHandlers>

        <lotus.assets>
            <!--
                ASSET HOSTS
                    Specify which hosts should utilize the asset handler.
            -->
            <hosts>
                <!-- <add name=".*" /> -->
            </hosts>

            <!--
                ASSET RESOLVERS
                    Specify which paths should be handled by a resolver.
             -->
            <resolvers>
                <resolver type="Lotus.Foundation.Resolvers.DefaultResolver, Lotus.Foundation.Assets">
                    <!-- path keys to handle, separate with | -->
                    <paths>.*</paths>
                    <!-- <paths>extension.js|extension.css</paths> -->
                </resolver>
            </resolvers>
            
            <!--
                ASSET PATHS
                    Specify which paths should be redirected and controlled to the handler.
             -->
            <paths>
                <!-- Extension based paths -->
                <path type="Lotus.Foundation.Assets.Paths.Extension.JS, Lotus.Foundation.Assets">
                    <key>extension.js</key>
                    <!-- separate with | -->
                    <targets>.js</targets>
                    <!-- supports full-path (c:/inetpub/site/js/whatever.js), relative (/js/whatever.js or ~/js/whatever.js), name (whatever.js) or any valid regex (.*) -->
                    <filenames>.*</filenames>
                    <!-- same as 'filenames' - separate with | -->
                    <ignore>|</ignore>
                    <expireCache>4h</expireCache>
                </path>
                <path type="Lotus.Foundation.Assets.Paths.Extension.CSS, Lotus.Foundation.Assets">
                    <key>extension.css</key>
                    <!-- separate with | -->
                    <targets>.css</targets>
                    <!-- supports full-path (c:/inetpub/site/css/whatever.css), relative (/css/whatever.css or ~/css/whatever.css), name (whatever.css) or any valid regex (.*) -->
                    <filenames>.*</filenames>
                    <!-- same as 'filenames' - separate with | -->
                    <ignore>|</ignore>
                    <expireCache>6h</expireCache>
                </path>
            </paths>
        </lotus.assets>
    </sitecore>
</configuration>